<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%fullScreenActionSetDesc"
            id="cn.pande.eclipsex.fullscreen.actionSet"
            label="%fullScreenActionSet"
            visible="true">
         <action
               class="org.ugosan.eclipse.fullscreen.FullScreenActionDelegate"
               definitionId="cn.pande.eclipsex.fullscreen.fullscreenCommand"
               id="cn.pande.eclipsex.fullscreen.fullscreenAction"
               label="%fullScreen"
               menubarPath="window/additions"
               style="push">
         </action>
         <action
               class="org.ugosan.eclipse.fullscreen.EscActionDelegate"
               definitionId="cn.pande.eclipsex.fullscreen.escCommand"
               id="cn.pande.eclipsex.fullscreen.escAction"
               label="%esc"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            description="%fullScreenCommandDesc"
            id="cn.pande.eclipsex.fullscreen.fullscreenCommand"
            name="%fullScreenCommand">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            description="%escCommandDesc"
            id="cn.pande.eclipsex.fullscreen.escCommand"
            name="%escCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cn.pande.eclipsex.fullscreen.fullscreenCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+Z">
      </key>
      <key
            commandId="cn.pande.eclipsex.fullscreen.escCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.ugosan.eclipse.fullscreen.FullScreenPreferencePage"
            id="cn.pande.eclipsex.fullscreen.fullScreenPage"
            name="%fullScreenPreferenceNode">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ugosan.eclipse.fullscreen.FullScreenPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
